@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css");

.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

